@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-pastel-yellow-0: #ffffff;
  --color-pastel-yellow-100: #fef9e0;
  --color-pastel-yellow-200: #fdf3c1;
  --color-pastel-yellow-300: #fceda2;
  --color-pastel-yellow-400: #fce883;
  --color-pastel-yellow-500: #f8e374;
  --color-pastel-yellow-600: #f2dc76;
  --color-pastel-yellow-700: #e8d069;
  --color-pastel-yellow-800: #dec45c;
  --color-pastel-yellow-900: #d4b94f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans), Arial, Helvetica, sans-serif;
}
